node-red/flows.json
[{"id":"632f4693.e2fa98","type":"tab","label":"SASE-EmbeddedApp"},{"id":"c543882.a740d78","type":"tab","label":"Input Channels"},{"id":"2ea240fb.64b83","type":"tab","label":"Output Channels"},{"id":"bc1bc051.296b6","type":"tab","label":"Rules"},{"id":"4d2b6f79.7f7b6","type":"mqtt-broker","z":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c02f6e5f.cc1e3","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"10017","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"374227eb.45b4e8","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4cff0058.8c35f","type":"inject","z":"632f4693.e2fa98","name":"","topic":"","payload":"Application Starting","payloadType":"str","repeat":"","crontab":"","once":true,"x":169,"y":74,"wires":[["15eb2dad.83e402","318d02cc.b2ec1e"]]},{"id":"15eb2dad.83e402","type":"debug","z":"632f4693.e2fa98","name":"","active":true,"console":"false","complete":"payload","x":585,"y":75,"wires":[]},{"id":"318d02cc.b2ec1e","type":"function","z":"632f4693.e2fa98","name":"StartApplication","func":"var Controller = global.get(\"Controller\");\n//cleanup channels\nController.set(\"app/channels\", []);\n// add led channel\nController.add(\"app/channels\", {\n   topic: 'led/',\n    qos: 0,\n    type: 'number',\n    description: 'ON or OFF led',\n    direction: 'in'\n});\n// register client\nController.get(function(err, value) {\n   node.send({\n       topic: 'app/start',\n       payload: value,\n       qos: 2\n   });\n});","outputs":1,"noerr":0,"x":382,"y":150,"wires":[["15eb2dad.83e402","be12fa2d.6ec208"]]},{"id":"c4304b2c.306a88","type":"mqtt in","z":"c543882.a740d78","name":"","topic":"led/","qos":"2","broker":"4d2b6f79.7f7b6","x":89,"y":75,"wires":[["45446d46.a78e34"]]},{"id":"45446d46.a78e34","type":"upm-grove-led","z":"c543882.a740d78","name":"","platform":"0","mode":"output","pin":"4","interval":1000,"x":266,"y":75,"wires":[]},{"id":"be12fa2d.6ec208","type":"http request","z":"632f4693.e2fa98","name":"","method":"POST","ret":"txt","url":"https://simplenoderedserver.herokuapp.com/api/clients","tls":"","x":587,"y":148,"wires":[["86b3814.9f1358"]]},{"id":"86b3814.9f1358","type":"debug","z":"632f4693.e2fa98","name":"","active":true,"console":"false","complete":"false","x":745,"y":148,"wires":[]}]